// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../scss/misc/variables";

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "../scss/partials/header";
@import "../scss/partials/footer";
@import "../scss/partials/cart";

@import "../scss/views/home";
@import "../scss/views/products";
@import "../scss/views/_technicalAssistance";
@import "../scss/views/contact";
@import "../scss/views/login";
@import "../scss/views/signup";
