#asistencia-tecnica {
  background-image: url("../../assets/images/asistenciaRemota.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .form-asistencia {
    opacity: 0.8;
  }
}
