#contact {
  background-image: url("../../assets/images/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .formContact {
    opacity: 0.8;
  }
}
