#main {
  #searchList {
    top: 70px;
    width: 60vw;
    max-width: 400px;
    border: 0;
    opacity: 0.5;
    background-color: #fff;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #productCard {
    top: 10px;
    max-width: 700px;
    border: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    padding: 15px;
  }

  #main-banner {
    height: 91vh;

    .img-main {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    #searchProducts {
      width: 60vw;
      max-width: 400px;
      opacity: 0.3;
      border: 0;
    }

    #searchProducts:focus {
      opacity: 0.8;

      &:focus-visible {
        outline: unset;
      }
    }
  }
}

#cardModal {
  .imgCard {
    width: 100%;
  }
}
