#containerLogin {
  background-image: url("../../assets/images/login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;

  .formLogin {
    opacity: 0.8;
  }
}
