#ofertas {
  .card {
    height: 100%;

    .bi-oferta {
      fill: $primary;
      top: -12px;
      right: 25px;
    }

    .card-img-top {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
