#containerProducts {
  .card {
    height: 100%;
  }

  .navCategories {
    border-radius: 15px;

    &:hover {
      border-radius: 15px;
      background-color: $primary;
      color: #fff;
    }
  }
  .navCategoriesActive {
    background-color: $primary;
  }

  .form-select {
    width: 200px;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
