#containerProducts {
  .card {
    height: 100%;
  }

  .navCategories {
    border-radius: 15px;

    &:hover {
      border-radius: 15px;
      background-color: $primary;
      color: #fff;
    }
  }
  .navCategoriesActive {
    background-color: $primary;
  }
}
