#technicalAssistance {
  background-image: url("../../assets/images/technicalAssistance.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .formTechnicalAssistance {
    opacity: 0.8;
  }
}
